header {
  display: flex;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(6, 7, 29);
}
.header-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header span {
  color: white;
}
