.info_disp {
  display: flex;
  justify-content: space-around;
  border-radius: 7px;
  padding: 1rem 0;
  width: 95%;
  margin: auto;
  gap: 0.5rem;
  font-size: 0.9rem;
}
.info_disp:nth-child(even) {
  background-color: #e5e7eb;
}
.info_disp span {
  min-width: 0 !important;
  width: 100px;
  word-wrap: break-word;
}
.title span {
  min-width: 0 !important;
  width: 100px;
  word-wrap: break-word;
}
@media screen and (max-width: 600px) {
  .info_disp {
    width: 99%;
  }
  .info_disp span {
    font-size: 0.8rem;
  }
  .title {
    font-size: 0.8rem;
  }
}
